
#maincontainer{
    position: relative;
    overflow: hidden;
}
fieldset{
   text-align: center;
    margin-top: 50px;
    border-radius: 12px;
    border-bottom: none;
}
#display{
    font-size: 2.0rem;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
}
#dish{
    border-radius: 12px;
    margin-top: 15px;
    width:50%;
    height: 50px;
    text-align: center;
    font-size: 2.0rem;
}
.search{
    margin-right: "12px";
    font-size: 32px;
    border-radius: 10px;
}
#searchbtn{
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-left: 12px;
    border-radius: 10px;
    font-size: 25px;
    background-color: blue;
    color: white;
    border-color: rgb(117, 117, 191);
}
#maincontainer{
    background-color: ghostwhite;
}

/* media for screen : 700px max */
@media only screen and (max-width:700px){
    #dish{
        border-radius: 10px;
        margin-top: 15px;
        width:30%;
        height: 40px;
        text-align: center;
        font-size: 1.5rem;
    }
    .search{
        margin-right: "12px";
        font-size: 18px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 500px){
    #dish{
        border-radius: 12px;
        margin-top: 15px;
        width: 45%;
        height: 30px;
        text-align: center;
        font-size: 0.7rem;
    }
    #searchbtn{
        cursor: pointer;
        height: 40px;
        width: 100px;
        margin-left: 12px;
        border-radius: 5px;
        font-size: 15px;
        background-color: blue;
        color: white;
        border-color: rgb(117, 117, 191);
    }
    #display{
        font-size: 1.5rem;
        font-family: 'Baloo Bhaina 2', cursive;
        font-weight: bold;
    }
    .search{
        margin-right: "12px";
        font-size: 12px;
        border-radius: 7px;
    }
}
@media only screen and (max-width:350px){
    #dish{
        border-radius: 12px;
        margin-top: 15px;
        width: 40%;
        height: 25px;
        text-align: center;
        font-size: 0.5rem;
    }
    #searchbtn{
        cursor: pointer;
        height: 30px;
        width: 90px;
        margin-left: 12px;
        border-radius: 3px;
        font-size: 10px;
        background-color: blue;
        color: white;
        border-color: rgb(117, 117, 191);
    }
    #display{
        font-size: 1.2rem;
        font-family: 'Baloo Bhaina 2', cursive;
        font-weight: bold;
    }
    .search{
        margin-right: "10px";
        font-size: 9px;
        border-radius: 5px;
    }
}